//global

footer{
    background-color: $veryDarkBlackBlue;
    border-top-right-radius:100px;
    font-family: 'Ubuntu', sans-serif; 
    h2{
        color: $white;
        font-size: 1rem;
    }
    a{
        color:$grayishBlue;
        font-size: 0.875rem;
    }
}


//Mobile


@media only screen and (max-width: 467px) {

    footer{
        text-align: center;
        h1{
            padding:4rem 0rem;
        }
        .sec2,.sec3,.sec4{
            display: flex;
            flex-direction: column;
            padding-bottom: 2.9375rem;
            h2{
                margin-bottom: 2rem;
            }
            a{
                &:not(:last-child){
                    margin-bottom: 0.75rem;
                }
            }
        }
    }
    

 

}


//desktop

@media only screen and (min-width: 468px) {



    footer{
       .sections{
        display: flex;
        padding-left: 10.2135rem;
        padding-right:10.2135rem;
       }
    
        h1{
            padding-top: 4.25rem;
           
            padding-right: 10.2135rem;

        }
        .sec2,.sec3,.sec4{
            display: flex;
            flex-direction: column;
            padding-top: 4.75rem;
            padding-bottom: 4.75rem;
            &:not(:last-child){
                margin-right: 12.3125rem;
            }
            h2{
                margin-bottom: 2.5rem;
            }
            a{
                &:not(:last-child){
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
    

 





}



//tablets

@media only screen and (min-width: 469px) and (max-width: 768px) {


    
    footer{
        .sections{
         display: flex;
         justify-content: space-between;
         padding:0 2rem;
        }
     
         h1{
             padding-top: 4.25rem;
             padding-left: 0rem;
             padding-right: 0rem;
 
         }
         .sec2,.sec3,.sec4{
             display: flex;
             flex-direction: column;
             padding-top: 4.75rem;
             padding-bottom: 4.75rem;
             &:not(:last-child){
                 margin-right: 0rem;
             }
             h2{
                 margin-bottom: 2.5rem;
             }
             a{
                 &:not(:last-child){
                     margin-bottom: 1.25rem;
                 }
             }
         }
     }
     


}


//for small screen laptops


@media only screen and (min-width: 769px) and (max-width: 1024px) {

    footer{
        .sections{
         display: flex;
         justify-content: space-between;
         padding:0 2rem;
        }
     
         h1{
             padding-top: 4.25rem;
             padding-left: 0rem;
             padding-right: 0rem;
 
         }
         .sec2,.sec3,.sec4{
             display: flex;
             flex-direction: column;
             padding-top: 4.75rem;
             padding-bottom: 4.75rem;
             &:not(:last-child){
                 margin-right: 0rem;
             }
             h2{
                 margin-bottom: 2.5rem;
             }
             a{
                 &:not(:last-child){
                     margin-bottom: 1.25rem;
                 }
             }
         }
     }
     


}