html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  line-height: 1.6;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.showcase {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  max-width: 100vw;
  border-bottom-left-radius: 10%;
}

.overlay {
  display: none;
  position: fixed;
  opacity: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25252d), to(#3f4164));
  background-image: linear-gradient(to bottom, #25252d, #3f4164);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.overlay.add {
  display: block;
  opacity: 0.4;
}

.bg-svg {
  background-image: url("../images/bg-pattern-intro.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-position: 25% 50%;
  z-index: 0;
}

.global-btn {
  font-size: 1rem;
  border-radius: 50px;
  font-weight: 600;
}

.arrow1, .arrow2, .arrow3 {
  margin-top: 1px;
}

.arrow1.rotate, .arrow2.rotate, .arrow3.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  font-family: 'Ubuntu', sans-serif;
}

/* Hamburger Button Styling*/
.menu-btn {
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  background-color: white;
  width: 28px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.content {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 467px) {
  .arrow1, .arrow2, .arrow3 {
    color: #ff525d;
  }
  .bg-svg {
    background-image: url("../images/bg-pattern-intro.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-position: 20% 50%;
    z-index: 0;
  }
  .ubtn {
    padding: 1rem 2.5rem;
    cursor: pointer;
    background-color: transparent;
    color: #25252d;
    border: none;
    border-radius: 50px;
  }
  .ubtn:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  }
  .signup-btn {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  }
  .cbtn {
    padding: 1rem 1rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
  .cbtn:hover {
    background-color: white;
    color: #ff525d;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.8125rem 1.125rem;
  }
  header nav {
    width: 90%;
    margin: auto;
    text-align: center;
    position: absolute;
    background-color: white;
    display: block;
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    border-radius: 5px;
  }
  header nav.close {
    opacity: 1;
  }
  header nav .class-drp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.875rem;
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid grey;
    width: 90%;
    margin: auto;
  }
  header nav .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  header nav .dropdown {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .dropdown .dropbtn1, header nav .dropdown .dropbtn2, header nav .dropdown .dropbtn3 {
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-size: 1.15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    color: #25252d;
  }
  header nav .dropdown .dropdown-content1, header nav .dropdown .dropdown-content2, header nav .dropdown .dropdown-content3 {
    display: none;
  }
  header nav .dropdown .dropdown-content1 a, header nav .dropdown .dropdown-content2 a, header nav .dropdown .dropdown-content3 a {
    color: #3f4164;
  }
  header nav .dropdown .dropdown-content1.close, header nav .dropdown .dropdown-content2.close, header nav .dropdown .dropdown-content3.close {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem 2rem;
    gap: 0.5rem;
    margin-top: 2.875rem;
    font-size: 1.2rem;
    background-color: #f0e8e8;
  }
  .content {
    padding-top: 3.375rem;
    padding-bottom: 8.4375rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    text-align: center;
    max-width: 100vw;
    color: white;
    font-family: 'Overpass', sans-serif;
  }
  .content h1 {
    font-size: 1.875rem;
    margin-bottom: 1.125rem;
    font-weight: 600;
  }
  .content p {
    font-size: 1rem;
    margin-bottom: 2.75rem;
    font-weight: 300;
  }
  .content-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 300;
  }
}

@media only screen and (min-width: 468px) {
  .overlay {
    display: none;
  }
  .arrow1, .arrow2, .arrow3 {
    color: white;
  }
  #underline:hover {
    text-decoration: underline;
  }
  .ubtn {
    padding: 1rem 2.5rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
  }
  .ubtn:hover {
    background-color: white;
    color: #ff525d;
  }
  .cbtn {
    padding: 1rem 1rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
  .cbtn:hover {
    background-color: white;
    color: #ff525d;
  }
  header {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
  }
  header .logo {
    margin-top: 15px;
  }
  header nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    word-wrap: normal;
  }
  header nav .class-drp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    gap: 1.5rem;
    margin-left: 3.75rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .dropdown {
    position: relative;
  }
  header nav .dropbtn1, header nav .dropbtn2, header nav .dropbtn3 {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    font-weight: 600;
  }
  header nav .dropdown-content1, header nav .dropdown-content2, header nav .dropdown-content3 {
    display: none;
    position: absolute;
  }
  header nav .dropdown-content1 a, header nav .dropdown-content2 a, header nav .dropdown-content3 a {
    color: #4b5862;
  }
  header nav .dropdown-content1 a:hover, header nav .dropdown-content2 a:hover, header nav .dropdown-content3 a:hover {
    color: #25252d;
  }
  header nav .dropdown-content1.close, header nav .dropdown-content2.close, header nav .dropdown-content3.close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem 1rem;
    gap: 0.5rem;
    margin-top: 1rem;
    background-color: white;
  }
  .menu-btn {
    display: none;
  }
  .content {
    padding-top: 5.3125rem;
    padding-bottom: 9.6875rem;
    text-align: center;
    color: white;
    font-family: 'Overpass', sans-serif;
  }
  .content h1 {
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  .content p {
    font-size: 1rem;
    margin-bottom: 3.125rem;
    font-weight: 300;
  }
  .content-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 300;
  }
}

@media only screen and (min-width: 469px) and (max-width: 768px) {
  .showcase {
    overflow: hidden;
  }
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  header nav .class-drp {
    margin-left: 2.75rem;
  }
  header nav .user {
    gap: 0rem;
  }
  .ubtn {
    padding: 1rem 1rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .showcase {
    overflow: hidden;
  }
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  header nav .class-drp {
    margin-left: 2.75rem;
  }
  .ubtn {
    padding: 1rem 1.5rem;
  }
}

.future {
  font-family: 'Overpass', sans-serif;
}

.future h1 {
  font-size: 1.625rem;
  text-align: center;
  margin-top: 5.625rem;
  color: #1f3f5b;
}

.future .boxes {
  line-height: 1.6;
}

.future .boxes .box1 {
  background-image: url(../images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 300px;
  margin-top: 2.5rem;
}

.future .boxes .box2 h2 {
  color: #1f3f5b;
}

.future .boxes .box2 p {
  color: #3f4164;
}

@media only screen and (max-width: 467px) {
  .future .boxes {
    padding-left: 2.125rem;
    padding-right: 2.125rem;
  }
  .future .boxes .box2 {
    text-align: center;
  }
  .future .boxes .box2 h2 {
    color: #1f3f5b;
    margin-bottom: 1.625rem;
  }
  .future .boxes .box2 .part1 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .future .boxes .box2 .part2 {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 468px) {
  .future {
    font-family: 'Overpass', sans-serif;
  }
  .future h1 {
    font-size: 2.25rem;
    text-align: center;
    margin-top: 9.685rem;
    color: #1f3f5b;
  }
  .future .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 7rem;
  }
  .future .boxes::before {
    content: "";
    position: absolute;
    width: 50%;
    right: 0;
    top: 0rem;
    height: 100%;
    z-index: 2;
    background-image: url(../images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .future .boxes .box1 {
    background-image: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 100%;
    height: 100%;
    margin-top: 0rem;
  }
  .future .boxes .box2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-left: 10rem;
    padding-right: 7.8125rem;
  }
  .future .boxes .box2 h2 {
    font-size: 1.75rem;
    margin-bottom: 2.375rem;
  }
  .future .boxes .box2 p {
    font-size: 1rem;
  }
  .future .boxes .box2 .part1 {
    margin-bottom: 5.375rem;
  }
  .future .boxes .box2 .part2 {
    margin-bottom: 12.875rem;
  }
}

@media only screen and (min-width: 469px) and (max-width: 768px) {
  .future {
    font-family: 'Overpass', sans-serif;
  }
  .future h1 {
    font-size: 2.25rem;
    text-align: center;
    margin-top: 4.685rem;
    color: #1f3f5b;
  }
  .future .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
  }
  .future .boxes::before {
    content: "";
    position: absolute;
    width: 50%;
    right: 0;
    top: 0rem;
    height: 100%;
    z-index: 2;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .future .boxes .box1 {
    background-image: url(../images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 100%;
    min-height: 43.75rem;
    margin-top: 0rem;
    background-position: 1%;
  }
  .future .boxes .box2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .future .boxes .box2 h2 {
    font-size: 1.75rem;
    margin-bottom: 1.375rem;
  }
  .future .boxes .box2 p {
    font-size: 1rem;
  }
  .future .boxes .box2 .part1 {
    margin-bottom: 2.375rem;
  }
  .future .boxes .box2 .part2 {
    margin-bottom: 6.875rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .future {
    font-family: 'Overpass', sans-serif;
  }
  .future h1 {
    font-size: 2.25rem;
    text-align: center;
    margin-top: 5.685rem;
    color: #1f3f5b;
  }
  .future .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
  }
  .future .boxes::before {
    content: "";
    position: absolute;
    width: 50%;
    right: 0;
    top: 0rem;
    height: 100%;
    z-index: 2;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .future .boxes .box1 {
    background-image: url(../images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 100%;
    min-height: 43.75rem;
    margin-top: 0rem;
    background-position: 1%;
  }
  .future .boxes .box2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-left: 3rem;
    padding-right: 1rem;
  }
  .future .boxes .box2 h2 {
    font-size: 1.75rem;
    margin-bottom: 1.375rem;
  }
  .future .boxes .box2 p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1441px) {
  .future .boxes::before {
    content: "";
    position: absolute;
    width: 50%;
    top: 0rem;
    height: 100%;
    z-index: 2;
    background-image: url(../images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 50%;
  }
}

.art {
  z-index: 1;
  background-color: #4b5862;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  color: white;
  font-family: 'Overpass', sans-serif;
}

.art .art-boxes {
  position: relative;
  z-index: 3;
}

@media only screen and (max-width: 467px) {
  .art-layer {
    padding-bottom: 4.25rem;
    padding-top: 12.5rem;
    position: relative;
    z-index: 2;
  }
  .art::before {
    content: "";
    position: absolute;
    top: 0;
    background-image: url("../images/illustration-phones.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    z-index: 2;
  }
  .art .art-boxes .art-box1 {
    padding-top: 12.5rem;
    padding-bottom: 6.25rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .art .art-boxes h1 {
    font-size: 1.75rem;
    margin-bottom: 1.9375rem;
    text-align: center;
  }
  .art .art-boxes p {
    font-size: 1rem;
    text-align: center;
  }
}

@media only screen and (min-width: 468px) {
  .art-layer {
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
    position: relative;
    z-index: 2;
  }
  .art .art-boxes {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    z-index: 2;
  }
  .art .art-boxes .art-box1 {
    padding-top: 12.5rem;
    padding-bottom: 6.25rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .art .art-boxes .empty::before {
    content: "";
    position: absolute;
    background-image: url("../images/illustration-phones.svg");
    background-repeat: no-repeat;
    width: 50%;
    height: 122%;
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
    top: 0;
    background-size: 90% 110%;
    z-index: 1;
  }
  .art .art-boxes h1 {
    font-size: 1.875rem;
    margin-bottom: 2.25rem;
    text-align: left;
  }
  .art .art-boxes p {
    font-size: 1rem;
    text-align: left;
  }
}

@media only screen and (min-width: 469px) and (max-width: 768px) {
  .art-layer {
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
    position: relative;
    z-index: 2;
  }
  .art .art-boxes .art-box1 {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .art .art-boxes .empty::before {
    content: "";
    position: absolute;
    background-image: url("../images/illustration-phones.svg");
    background-repeat: no-repeat;
    width: 50%;
    height: 122%;
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
    top: 0;
    background-size: 100% 110%;
    z-index: 1;
  }
  .art .art-boxes h1 {
    margin-bottom: 1.25rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .art-layer {
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
    position: relative;
    z-index: 2;
  }
  .art .art-boxes .art-box1 {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .art .art-boxes .empty::before {
    content: "";
    position: absolute;
    background-image: url("../images/illustration-phones.svg");
    background-repeat: no-repeat;
    width: 50%;
    height: 122%;
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
    top: 0;
    background-size: 100% 110%;
    z-index: 1;
  }
  .art .art-boxes h1 {
    margin-bottom: 1.25rem;
  }
}

.desktop {
  font-family: 'Overpass', sans-serif;
}

.desktop .d-boxes {
  line-height: 1.6;
}

.desktop .d-boxes .d-box1 {
  background-image: url(../images/illustration-laptop-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 300px;
}

.desktop .d-boxes .d-box2 h2 {
  color: #1f3f5b;
}

.desktop .d-boxes .d-box2 p {
  color: #3f4164;
}

@media only screen and (max-width: 467px) {
  .desktop .d-boxes .d-box2 {
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    text-align: center;
  }
  .desktop .d-boxes .d-box2 h2 {
    color: #1f3f5b;
    margin-bottom: 1.625rem;
  }
  .desktop .d-boxes .d-box2 .d-part1 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .desktop .d-boxes .d-box2 .d-part2 {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 468px) {
  .desktop {
    font-family: 'Overpass', sans-serif;
  }
  .desktop .d-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    padding-top: 11.875rem;
    padding-bottom: 11.875rem;
  }
  .desktop .d-boxes::before {
    content: "";
    position: absolute;
    width: 50%;
    left: 0;
    top: 0rem;
    height: 100%;
    z-index: 2;
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 82%;
  }
  .desktop .d-boxes .d-box1 {
    background-image: none;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 100%;
    height: 100%;
    margin-top: 0rem;
  }
  .desktop .d-boxes .d-box2 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 10.9375rem;
    padding-left: 7.5rem;
  }
  .desktop .d-boxes .d-box2 h2 {
    font-size: 1.75rem;
    margin-bottom: 2.375rem;
  }
  .desktop .d-boxes .d-box2 p {
    font-size: 1rem;
  }
  .desktop .d-boxes .d-box2 .d-part1 {
    margin-bottom: 5.375rem;
  }
}

@media only screen and (min-width: 469px) and (max-width: 768px) {
  .desktop .d-boxes {
    padding-top: 2.875rem;
    padding-bottom: 2.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  .desktop .d-boxes::before {
    content: "";
    background-image: none;
  }
  .desktop .d-boxes .d-box1 {
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 100%;
    min-height: 43.75rem;
    margin-top: 0rem;
    background-position: 80%;
  }
  .desktop .d-boxes .d-box2 {
    margin-top: 5.375rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .desktop .d-boxes .d-box2 h2 {
    font-size: 1.75rem;
    margin-bottom: 1.375rem;
  }
  .desktop .d-boxes .d-box2 p {
    font-size: 1rem;
  }
  .desktop .d-boxes .d-box2 .d-part1 {
    margin-bottom: 4.375rem;
  }
  .desktop .d-boxes .d-box2 .d-part2 {
    margin-bottom: 4.875rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .desktop .d-boxes {
    padding-top: 2.875rem;
    padding-bottom: 2.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  .desktop .d-boxes::before {
    content: "";
    background-image: none;
  }
  .desktop .d-boxes .d-box1 {
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 100%;
    min-height: 43.75rem;
    margin-top: 0rem;
    background-position: 80%;
  }
  .desktop .d-boxes .d-box2 {
    margin-top: 5.375rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .desktop .d-boxes .d-box2 h2 {
    font-size: 1.75rem;
    margin-bottom: 1.375rem;
  }
  .desktop .d-boxes .d-box2 p {
    font-size: 1rem;
  }
  .desktop .d-boxes .d-box2 .d-part1 {
    margin-bottom: 4.375rem;
  }
  .desktop .d-boxes .d-box2 .d-part2 {
    margin-bottom: 4.875rem;
  }
}

@media only screen and (min-width: 1441px) {
  .desktop .d-boxes::before {
    content: "";
    position: absolute;
    width: 50%;
    left: 0;
    top: 0rem;
    height: 100%;
    z-index: 2;
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 55%;
  }
}

footer {
  background-color: #25252d;
}
/*# sourceMappingURL=style.css.map */